body {
  background-color: #eee;
  font-family: Verdana;
}

h1 {
  color: #015067;
  font-family: 'Donegal One';
}

h2 {
  font-family: 'Donegal One';
}

h3 {
  font-family: 'Donegal One';
}

nav {
  background-color: #eee;
  color: white;
  float: left;
  height: 100%;
  position: absolute;
  width: 165px;
  z-index: 0;
}

#page {
  background-color: #eee;
  line-height: 18px;
  position: absolute;
  z-index: 1;
}

.ui-header .ui-title {
  background-color: #ccc;
  font-size: 1.4em;
  margin: 0;
  padding: 0.4em 0;
}