/* YUI Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img { 
  border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}
/* end YUI Reset */

body {
  background-color: #eee;
  font-family: Verdana;
}

h1 {
  color: #015067;
  font-family: 'Donegal One';
  font-size: 20px;
  font-weight: bold;
  line-height: inherit;
}

h2 {
  font-family: 'Donegal One';
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
  padding: 0.4em 0;
}

h3 {
  font-family: 'Donegal One';
  font-size: 18px;
  font-weight: bold;
  padding: 0.4em 0;
}

img {
  width: 100%;
  max-width: 720px
}

nav {
  background-color: #015067;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  color: white;
  float: left;
  height: 90%;
  margin-left: -400px;
  margin-top: 44px;
  opacity: 0.9;
  overflow-y: scroll;
  position: fixed;
  width: 400px;
  z-index: 1;
}

p {
  margin: 1em 0;
  padding: 0 0.4em;
}


html, body {
  background: #ffffff;
}

#console {
  font-size: 12px;
  font-family:"Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: #999;
  line-height: 18px;
  margin-top: 20px;
  max-height: 150px;
  overflow: auto;
}


#mySwipe div b {
  display:flex;
  font-weight:normal;
  color:#000;
  font-size:15px;
  text-align:left;
  margin:0px;
  padding:0px;
  box-shadow: 0 0px #EBEBEB;
  background: #fff;
  border-radius: 3px;
  float: left;
  border: 0px solid;
  border-color: #E5E5E5 #D3D3D3 #B9C1C6;
}