<% if (communion_preparation) { %>

<h3>The Celebration of the Lord's Supper</h3>
<i>Minister:</i> The Lord be with you.<br><br>
<i>All:</i> And also with you.<br><br>
<i>Minister:</i> Lift up your hearts.<br><br>
<i>All:</i> We lift them up unto the Lord.<br><br>
<i>Minister:</i> Let us give thanks to the Lord our God.<br><br>
<i>All:</i> It is right to give him thanks and praise.<br><br>

<h3>Prayer of Thanksgiving and Words of Institution</h3>
<i>Minister:</i> Let us boldly proclaim the mystery of faith..<br><br>
<i>All:</i> Christ has died. Christ is risen. Christ will come again.<br><br>
<i>Minister:</i> Christ our Passover has been sacrificed for us.<br><br>
<i>All:</i> Therefore, let us keep the feast.<br><br>
<i>Minister:</i> The gifts of God for the people of God.<br><br>

<hr>

<% } %>