<h3>Doxology</h3>
<p>
All ye who are of tender heart,<br>
Forgiving others take your part.<br>
Sing his praises, Alleluia!<br>
Ye who long pain and sorrow bear,<br>
Praise God and on him cast your care!<br>
O praise him! O praise him!<br>
Alleluia! Alleluia! Alleluia!<br>
</p>
<p>
Let all things their creator bless,<br>
And worship him with humbleness!<br>
Praise, praise the Father, praise the Son,<br>
And praise the Spirit, Three in One,<br>
O praise him! O praise him!<br>
Alleluia! Alleluia! Alleluia!<br>
</p>

<h3>Silent Worship and Adoration</h3>
<hr>